// variables

$colorW: HSLA(0, 0%, 97%, 1);


// main container

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.calculator {
  display: inline-block;
  background-color: HSLA(221, 16%, 20%, 1);
  padding: 25px 15px;
  border-radius: 20px;

  img {
    width: 200px;
    border-radius: 20px;
  }

  h3 {
    color: $colorW;
  }
}

.button {
    padding: 0px 5px;
    text-transform: uppercase;
    width: 72px;

  &:hover {
    background-color: HSLA(129, 44%, 66%, 1);
  }
}

.selection {
  margin-top: 10px;
}

.answer {
  margin-top: 20px;
  color: $colorW;
  text-transform: uppercase;
}
